/* src/fonts.css */

/* @font-face {
    font-family: 'GT Walsheim';
    src: url('/fonts/GTWalsheim-Medium.woff2') format('woff2'),
         url('/fonts/GTWalsheim-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('/fonts/GTWalsheim.woff2') format('woff2'),
         url('/fonts/GTWalsheim.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */
